* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-areas:
          "header header"
          "sidebar main"
          "footer footer";
  margin: 0;
  padding: 0 5px;
}
ul {
  padding-left: 20px;
  list-style-type: none;
}
ul:hover {
  cursor: pointer;
}

button {
  height: 25px;
  width: 75px;
}

.header, .sidebar {
  padding-top: 5px;
}

.header {
  display: flex;
  height: 10vh;
  grid-area: header;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid cadetblue;
}



.sidebar {
  display: grid;
  padding-right: 10px;
  border-right: 1px solid cadetblue;
}

.sidebar-menu {
  height: calc(80vh - 10px);
  overflow-y: auto;
}
.menu-btn {
  height: auto;
  width: auto;
  background-color: #ffffff;
  border: none;
  padding: 5px;
}
.menu-btn:hover {
  cursor: pointer;
  color: #3d5acc;
}
.main {
  display: flex;
  grid-area: main;
  justify-content: center;
  align-items: center;
}
.main-content {
  height: calc(80vh - 10px);
  overflow-y: auto;
  overflow-x: auto;
}

.footer {
  height: 10vh;
  grid-area: footer;
  padding-bottom: 5px;
  text-align: center;
  border-top: 1px solid cadetblue;
}

